pkgbase = sekaiju
	pkgdesc = Sequencer for editing MIDI files
	pkgver = 8.2
	pkgrel = 1
	url = http://openmidiproject.sourceforge.jp/Sekaiju_en.html
	arch = i686
	arch = x86_64
	license = LGPL
	makedepends = gendesk
	makedepends = imagemagick
	depends = wine
	optdepends = bash-completion: tab completion support
	source = sekaiju-8.2.zip::https://openmidiproject.opal.ne.jp/dlog.php?filename=Sekaiju8.2.zip
	source = Sekaiju.ini
	sha256sums = 9ad90021ed48fc0438f64b8bfdc9c052d2413db233632e261b864a25bd0178c3
	sha256sums = 121f4c6a752d58fc1f8455a3ebef63eee8f98fe2a880818c1da911a78289f7d3

pkgname = sekaiju
