pkgbase = sekaiju
	pkgdesc = Sequencer for editing MIDI files
	pkgver = 8.2
	pkgrel = 1
	url = http://openmidiproject.sourceforge.jp/Sekaiju_en.html
	arch = i686
	arch = x86_64
	license = LGPL
	makedepends = gendesk
	makedepends = imagemagick
	depends = wine
	optdepends = bash-completion: tab completion support
	source = sekaiju-8.2.zip::https://openmidiproject.opal.ne.jp/dlog.php?filename=Sekaiju8.2.zip
	source = Sekaiju.ini
	sha256sums = 9ad90021ed48fc0438f64b8bfdc9c052d2413db233632e261b864a25bd0178c3
	sha256sums = 2b7abef2184c3ad6a4d71b094e68168af90c9fdf3b37d4747706654290b366bb

pkgname = sekaiju
