pkgbase = gnome-desktop-environment
	pkgdesc = Metapackage for a custom GNOME desktop environment installation
	pkgver = 0.0.7
	pkgrel = 1
	url = https://github.com/marcxjo/PKGBUILDs
	arch = any
	license = MIT
	depends = eog
	depends = epiphany
	depends = evince
	depends = file-roller
	depends = gdm
	depends = gnome-backgrounds
	depends = gnome-calculator
	depends = gnome-calendar
	depends = gnome-characters
	depends = gnome-clocks
	depends = gnome-color-manager
	depends = gnome-console
	depends = gnome-contacts
	depends = gnome-control-center
	depends = gnome-font-viewer
	depends = gnome-keyring
	depends = gnome-menus
	depends = gnome-photos
	depends = gnome-session
	depends = gnome-settings-daemon
	depends = gnome-shell
	depends = gnome-text-editor
	depends = gnome-user-docs
	depends = gnome-weather
	depends = gvfs
	depends = gvfs-goa
	depends = gvfs-google
	depends = gvfs-mtp
	depends = gvfs-nfs
	depends = mutter
	depends = nautilus
	depends = sushi
	depends = tracker3-miners
	depends = xdg-desktop-portal-gnome
	depends = xdg-user-dirs-gtk
	depends = yelp
	depends = cheese
	depends = dconf-editor
	depends = devhelp
	depends = ghex
	depends = gnome-devel-docs
	depends = gnome-tweaks
	depends = celluloid
	depends = dino
	depends = tuba

pkgname = gnome-desktop-environment
