pkgbase = tabbed
	pkgdesc = simple generic tabbed frontend to xembed-aware applications
	pkgver = 0.8
	pkgrel = 3
	url = https://tools.suckless.org/tabbed
	install = tabbed.install
	arch = x86_64
	license = custom:MIT/X
	depends = libx11
	depends = libxft
	source = https://dl.suckless.org/tools/tabbed-0.8.tar.gz
	source = alpha-20241221.diff
	source = config.h
	sha256sums = 95bdffccb071083068d2b555c2524e9c7c57c9b64494d46c697e678d49a0a3d7
	sha256sums = 4f726d3c26501dc5a2006d70f14689d287cba27cb64f7ec20b64fba51acc0b95
	sha256sums = 6bd2f1b2a312e9907f260ac841cfb3fc6cc396342eaa72c74cc3476ee83e8872

pkgname = tabbed
