pkgbase = bspwm-desktop-environment
	pkgdesc = Metapackage for a custom bspwm desktop environment installation
	pkgver = 0.0.15
	pkgrel = 1
	url = https://github.com/marcxjo/PKGBUILDs
	arch = any
	license = MIT
	depends = dunst
	depends = polybar
	depends = rofi
	depends = picom
	depends = luakit
	depends = xsecurelock
	depends = guvcview
	depends = nsxiv
	depends = scrot
	depends = xcolor
	depends = zathura-pdf-mupdf
	depends = jgmenu
	depends = nnn
	depends = xorg-xrandr
	depends = xdotool
	depends = emoji-font
	depends = powerline-fonts
	depends = ttf-nerd-fonts-symbols
	depends = ttf-nerd-fonts-symbols-common
	depends = ttf-material-design-iconic-font
	depends = xwallpaper
	depends = sshfs
	depends = bspwm-git
	depends = sxhkd-git
	depends = xwallpaper
	depends = tym
	depends = bsptab-git
	depends = bsp-layout-git
	depends = fontpreview
	depends = rofi-emoji
	depends = rofi-nerdy
	depends = rofi-power-menu
	depends = bashmount
	depends = bluetui

pkgname = bspwm-desktop-environment
