pkgbase = bspwm-desktop-environment
	pkgdesc = Metapackage for a custom bspwm desktop environment installation
	pkgver = 0.0.11
	pkgrel = 1
	url = https://github.com/marcxjo/PKGBUILDs
	arch = any
	license = MIT
	depends = dunst
	depends = polybar
	depends = rofi
	depends = picom
	depends = luakit
	depends = lightdm-gtk-greeter
	depends = guvcview
	depends = nsxiv
	depends = scrot
	depends = xcolor
	depends = zathura-pdf-poppler
	depends = xorg-xrandr
	depends = xdotool
	depends = awesome-terminal-fonts
	depends = emoji-font
	depends = powerline-fonts
	depends = ttf-nerd-fonts-symbols
	depends = ttf-nerd-fonts-symbols-common
	depends = bspwm-git
	depends = sxhkd-git
	depends = setroot
	depends = tym
	depends = bsptab-git
	depends = fontpreview

pkgname = bspwm-desktop-environment
