pkgbase = mate-desktop-environment
	pkgdesc = Metapackage for a custom MATE desktop environment installation
	pkgver = 0.0.2
	pkgrel = 1
	url = https://github.com/marcxjo/PKGBUILDs
	arch = any
	depends = caja
	depends = marco
	depends = mate-control-center
	depends = mate-desktop
	depends = mate-icon-theme
	depends = mate-menus
	depends = mate-notification-daemon
	depends = mate-panel
	depends = mate-polkit
	depends = mate-session-manager
	depends = mate-settings-daemon
	depends = mate-themes
	depends = mate-user-guide
	depends = atril
	depends = caja-image-converter
	depends = caja-open-terminal
	depends = caja-sendto
	depends = caja-wallpaper
	depends = caja-xattr-tags
	depends = engrampa
	depends = eom
	depends = mate-applets
	depends = mate-calc
	depends = mate-media
	depends = mate-power-manager
	depends = mate-screensaver
	depends = mate-sensors-applet
	depends = mate-system-monitor
	depends = mate-terminal
	depends = mate-utils
	depends = mozo
	depends = pluma
	depends = rofi
	depends = gvfs
	depends = gvfs-goa
	depends = gvfs-google
	depends = gvfs-mtp
	depends = gvfs-nfs
	depends = gnome-keyring
	depends = xdg-user-dirs-gtk
	depends = yelp
	depends = dconf-editor
	depends = devhelp

pkgname = mate-desktop-environment
