pkgbase = sway-desktop-environment
	pkgdesc = Metapackage for a custom sway-based desktop environment installation
	pkgver = 0.0.3
	pkgrel = 1
	url = https://github.com/marcxjo/PKGBUILDs
	arch = any
	license = MIT
	depends = sway
	depends = swaybg
	depends = swayidle
	depends = swaylock
	depends = waybar
	depends = wofi
	depends = emoji-font
	depends = powerline-fonts
	depends = ttf-nerd-fonts-symbols
	depends = ttf-nerd-fonts-symbols-common
	depends = ttf-material-design-iconic-font
	depends = sway-contrib
	depends = mako
	depends = guvcview
	depends = swayimg
	depends = zathura-pdf-mupdf
	depends = luakit
	depends = tym
	depends = sshfs
	depends = bashmount
	depends = bluetui

pkgname = sway-desktop-environment
