pkgbase = xfce-desktop-environment
	pkgdesc = Metapackage for a custom Xfce desktop environment installation
	pkgver = 0.0.9
	pkgrel = 1
	url = https://github.com/marcxjo/PKGBUILDs
	arch = any
	license = MIT
	depends = exo
	depends = garcon
	depends = thunar
	depends = thunar-volman
	depends = tumbler
	depends = xfce4-appfinder
	depends = xfce4-panel
	depends = xfce4-power-manager
	depends = xfce4-session
	depends = xfce4-settings
	depends = xfce4-terminal
	depends = xfconf
	depends = xfdesktop
	depends = xfwm4
	depends = mousepad
	depends = ristretto
	depends = thunar-archive-plugin
	depends = thunar-media-tags-plugin
	depends = xfce4-clipman-plugin
	depends = xfce4-netload-plugin
	depends = xfce4-notifyd
	depends = xfce4-pulseaudio-plugin
	depends = xfce4-screensaver
	depends = xfce4-screenshooter
	depends = xfce4-weather-plugin
	depends = xfce4-whiskermenu-plugin
	depends = xfce4-xkb-plugin
	depends = xfce4-docklike-plugin
	depends = pavucontrol
	depends = rofi
	depends = zathura-pdf-mupdf
	depends = engrampa
	depends = gvfs
	depends = gvfs-goa
	depends = gvfs-google
	depends = gvfs-mtp
	depends = gvfs-nfs
	depends = gnome-keyring
	depends = xdg-user-dirs-gtk
	depends = yelp
	depends = dconf-editor
	depends = devhelp
	depends = guvcview
	depends = galculator

pkgname = xfce-desktop-environment
