[Desktop Entry]
Version=1.0
Name=Stulto
Comment=The Fool's Terminal
Exec=stulto
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
