pkgbase = astronvim-deps
	pkgdesc = Metapackage of software dependencies required to install and run astronvim
	pkgver = 0.0.4
	pkgrel = 1
	url = https://github.com/marcxjo/PKGBUILDs
	arch = any
	license = MIT
	depends = neovim
	depends = bottom
	depends = gdu
	depends = lazygit
	depends = nodejs
	depends = python
	depends = ripgrep
	depends = awesome-terminal-fonts
	depends = emoji-font
	depends = powerline-fonts
	depends = ttf-nerd-fonts-symbols
	depends = ttf-nerd-fonts-symbols-common

pkgname = astronvim-deps
