pkgbase = firefox-cfg
	pkgdesc = Security-focused global configuration for Firefox
	pkgver = 0.0.1
	pkgrel = 3
	epoch = 1
	url = https://github.com/marcxjo/PKGBUILDS
	arch = any
	license = MIT
	depends = firefox
	source = autoconfig.js
	source = firefox.cfg
	sha256sums = 464607275f20dde40b1732c7270c1e74c06452c6155726544fe2b244b1b7120e
	sha256sums = ef1ef6324c4b41d859a8d748de584a78b589e41bac3d59202338e2f373ae897c

pkgname = firefox-cfg
