pkgbase = dev-toolkits
	pkgdesc = Metapackage of tools for modern development and runtime strategies
	pkgver = 0.0.4
	pkgrel = 1
	url = https://github.com/marcxjo/PKGBUILDs
	arch = any
	license = MIT
	depends = nix
	depends = direnv

pkgname = dev-toolkits
